
.contentCardBox {
    margin: 0 0.5rem;
}

.contentCard:hover {
    cursor: pointer;
    box-shadow: 0px 12px 25px rgba(34, 35, 140, 0.07);
    border-radius: 12px;
}

.contentCardSection h4 {
    font-weight: 600;
    font-size: 1rem;
}

.contentCardSection p {
    font-size: 1rem;
    line-height: 140%;
    color: #545A6C;
}

.communityBanner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 21px 20px;
    margin: 3rem 6.5rem 3rem 6.5rem;
    background: var(--ifm-bg-gradient);
    border: 1px solid #E6E8EB;
    box-sizing: border-box;
    border-radius: 8px;
    width: 50rem;
}

.communityBanner:hover {
    cursor: pointer;
    box-shadow: 0px 12px 25px rgba(34, 35, 140, 0.07);
}

.communityBannerContent {
    margin: 1.5rem 2.5rem;
}

.communityBannerContent h4 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    margin: 1.5rem 0 0 0;
    color: var(--ifm-text-color);
}

.communityBannerContent p {
    font-size: 1rem;
    color: #545A6C;
}


.githubLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    width: 384px;
    height: 56px;
    background: var(--ifm-bg-gradient);
    border: 1px solid #E6E8EB;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 1rem 1rem;
}

.githubLink:hover {
    cursor: pointer;
    box-shadow: 0px 12px 25px rgba(34, 35, 140, 0.07);
}

.githubLinkImg {
    margin: 0 0.7rem -0.3rem 0;
}

.githubLinkText {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: var(--ifm-text-color);
}


.githubLinkText a {
    text-decoration: none;
    color: var(--ifm-text-color);
}


@media screen and (max-width:768px) {
    .communityBanner {
        width: 18rem;
        padding: 0rem;
    }
}