/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


.svgIcon {
  width: 60%,
}

.mainSection {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 4rem;
}


.cardSection {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.heroBanner {
  margin-top: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
  white-space: pre-wrap;
  word-break: break-word;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}


.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 5rem 0 2rem 0;
}

.heroSection h1 {
  font-weight: 600;
  font-size: 2.1rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  color: var(--ifm-text-color);
}

.heroSection p {
  font-size: 18px;
  line-height: 140%;
}



.contentCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gettingStarted {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.githubCardSection {
  margin-bottom: 6.5rem;
  text-align: center;
}

.githubCardSection h2,
p {
  margin: 0 1rem;
}


.githubCardSectionSpan {
  text-align: right;
  display: block;
  color: var(--ifm-color-primary);
  font-weight: 600;
  font-size: 1rem;
}

.githubCardSectionSpan a {
  color: inherit;
}

.githubCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.vaultDL {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.storeButtons {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.storeButtons div {
  text-align: center;
}



.appstorebutton {
  border-style: solid;
  border-width: 1px;
  border-color: #a6a6a6;
  border-radius: 8px;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (max-width:768px) {
  .githubCard {
    grid-template-columns: 1fr;
  }

  .mainSection {
    margin: 0 1rem;
  }

  .contentCard {
    grid-template-columns: 1fr;
  }

}


@media only screen and (max-width:1100px) and (max-width: 1200px) {
  .contentCard {
    grid-template-columns: 1fr 1fr;
  }

  .gettingStarted {
    grid-template-columns: 1fr 1fr;
  }
}


@media screen and (max-width:768px) {
  .contentCard {
    grid-template-columns: 1fr;
  }


  .gettingStarted {
    grid-template-columns: 1fr;
  }
}