.footer {
    padding: 1.4rem 0;
    background-color: #F7F8F9;
}


.footerSection {
    display: flex;
    margin: 3.7rem 0;
    justify-content: space-around;
}



.footerBottom {
    width: 90%;
    margin: 0 auto;
    padding: 0.5rem 0;

}

.footerBottomContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2.1rem 0;

}

.footerBottomContent a {
    font-size: 15px;
    line-height: 20px;

    letter-spacing: -0.204545px;

    color: var(--ifm-text-color);

}

.footerBottomContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;

}

.footerSection {
    margin: 0.3rem 0 0 1rem ;
}

.footerSection ul {
    list-style: none;
    font-size: 13px;
    line-height: 19px;
    padding: 0;
    color: var(--ifm-text-color);
}


.footerSection ul li>* {
    color: var(--ifm-text-color);
    margin: 1rem 0;
}


.footerSection h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: var(--ifm-text-color);
    opacity: 0.4;
}

.newsLetter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2.6rem 0 0 0;
}

.newsLetter div:nth-child(1) {
    margin: 0 0.6rem;
}


.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form input {
    width: 312px;
    height: 56px;
    border: 1px solid rgba(17, 17, 17, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
}


.form button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 18px 24px;
    color: #fff;
    background: #111111;
    border-radius: 4px;
}




@media screen and (max-width:768px) {
    .newsLetter {
        display: block;
    }

    .footerSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    .form input {
        width: 280px;
    }
}